.block-inner_page_content {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  padding-bottom: 0;
  padding-top: 0;

  .inner_page_page-content {
    @include fixed-grid();
    padding-top: 2rem;
    padding-bottom: 2rem;

    .block-ribbon {
      margin-left: 40px;
      margin-right: 40px;
      @media #{$bp-mobile} {
        margin-left: -$grid-padding;
        margin-right: -$grid-padding;
      }
    }

    .block-arrow_link_list {
      margin-left: $grid-padding;
      margin-right: $grid-padding;
      padding-top: 0;
    }

  }

  .block-slider {
    margin-left: -$grid-padding;
    margin-right: -$grid-padding;

    .layout-content {
      padding-left: 0;
      padding-right: 0;
    }

  }

  .inner_page_top-content, .inner_page_page-content, .inner_page_bottom-content {
    @media #{$bp-mobile} {
      padding-left: $grid-padding;
      padding-right: $grid-padding;

    }

  }

}