.block-service_grid.color-class-name {

  .button-default {
    border-color: $color_1;
    color: $color_1;
    &:hover {
      color: $c-white;
      background: $color_1;
    }
  }

  .services-title {
    border-color: $color_1;
  }

  .service-grid-icon {
    [class^="icon-"] {
      color:$color_1;
    }
  }

}