.block-service_grid {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;

  padding-top: 4rem;
  padding-bottom: 4rem;

  overflow-x: hidden;



  .service-grid-wrap {
    @include fixed-grid();
    position: relative;
  }

  .col-3 {
    // Collapse on mobile and remove border
    @media #{$bp-mobile} {
      margin-bottom: 1.5rem;
    }
  }
  .services-title-container {
    margin-bottom: 2rem;
  }
  .services-title {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    font-family: $font-family-base-bold;
  }

  .services-container, .services-information-container {
    margin-bottom: 2rem;
    @include container();
  }
  .service-grid-content, .service-grid-title, .service-grid-icon {
    text-align: center;
    margin: 0 auto;
  }

  .service-grid-icon {
    text-align: center;
    [class^="icon-"] {
      font-size: 3rem;
    }
  }
  .service-grid-title {
    h4 {
      margin-top: 1rem;
      font-size: 1.05rem;
    }
  }
  .services-information-container {
    a {
      color: black;
      border: 2px solid black;
    }
  }



  @media #{$bp-tab} {
    padding-top: 4rem;

    .service-grid-wrap {
      padding-left: $grid-padding;
      padding-right: $grid-padding;
    }
  }


}