.block-contact {
  padding-top: 0;
  padding-bottom: 0;
  background: #212121;
  height: 540px;
  .contact-wrap {

  }

  //form styling
  form {
    width: 65%;
    float: right;
    margin: 0 83px 0 auto;

    label {
      display: none !important;
    }
    input[type="text"], input[type="email"], input[type="tel"], textarea {
      background: black;
      color: $c-white;
      border: none;
      outline: none;
      width: 100% !important;
      padding: .875rem;
    }
    input[type=submit] {
      @include button();
      color: $c-white;
      background: transparent;
      border: 2px solid $c-white;
      cursor: pointer;
    }
  }

  .map {
    .map-canvas {
      height: 540px;
    }
  }

  .contact-container {
    @include container();
  }

  .contact-left-container {
    padding-top: 83px;
    padding-bottom: 83px;
  }

  //form overrides
  .gform_heading {
    display: none;
  }
  .gform_wrapper {
    margin: 0 auto;
    width: 100%;
  }

  @media #{$bp-tab} {
    height: auto;
    form {
      width: 100%;
      margin: 0 auto;
      float: none;
    }

    .contact-left-container {
      padding: 38px 20px;
      float: none;
    }
    .contact-right-container {
      float: none;
      pointer-events: none;
    }

    .gform_footer.top_label {
      text-align: center;
    }
  }
}

