/*
Mutiple slider types are likely to share common
elements.  Common elements should be defined in
the slider module and imported here.
*/

//@import "slider";

.block-posts-slider {

  .slider-block {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding-bottom: 40px; 
  }

  .slick-track {
    margin-top: 5px;
  }

  .slick-slide {
    margin-bottom: 5px; //to prevent the box shadow from being cut off
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-left: 20px;
    margin-right: 20px;
  }

  h3 {
  }
}