.block-generic_content {
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;

  @media #{$bp-mobile} {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &.white-bg {
    background: $c-white;
  }

  .gc-wrap {
    @include fixed-grid();
    @media #{$bp-mobile} {
      padding-left:$grid-padding;
      padding-right: $grid-padding;
    }
  }

  h3 {
    text-align: center;
    font-family: $RalewayBold;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  &.button-links {
    a {
      @include button();
    }
  }

  .gc-content {

    img.alignright,img.alignleft {
      @media #{$bp-mobile} {
        float:none;
      }
    }
    @media #{$bp-mobile} {
      img {
        width:100%;
        height: auto;
      }
    }

  }

  @for $i from 1 through 10 {
    &.limit-#{$i} {
      .gc-content {
        max-width:#{$i}0%;
        margin:  0 auto;

        @media #{$bp-mobile} {
          max-width:100%;
        }

      }
    }
  }

}