.block-blog_listing.color-class-name {
  .blog-list-item {
    border-left: .875rem solid $color_1;
  }

  .button-default {
    border: 2px solid $color_1;
    color: $color_1;
    &:hover {
      color: $c-white;
      background: $color_1;
    }
  }
}