.block-blog_listing {

  .blog-listing-wrap {
    @include fixed-grid();
  }

  .blog-list {
    @include listReset();
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.75rem;
  }
  .blog-list-item {
    width: 45%;
    padding: 3.75rem;
    height: 324px;
    background: #eeeeee;

  }

  .blog-list-item-title {
    h3 {
      margin-bottom: 2.125rem;
    }
  }
  .blog-list-item-meta {
    small {
      color: #6a6a6a;
      text-transform: uppercase;
      font-family: $font-family-base-bold;
      font-size: .875rem;
    }
    margin-bottom: 2.125rem;
  }

  .blog-list-item-inner {
    height: 100%;
  }

  .blog-list-item-inner {

    a {
      font-family: $font-family-base-bold;
      text-transform: uppercase;
    }
  }

  @media #{$bp-tab} {
    .blog-listing-wrap {
      padding-left: $grid-padding;
      padding-right: $grid-padding;
    }
    .blog-list {
      flex-direction: column;
      margin-bottom: 0;
    }
    .blog-list-item {
      width: 100%;
      margin-bottom: 1rem;
      height: auto;
    }

  }

}