/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: $gutter-position,
        container: $container,
        container-position: center,
        columns: $columns,
        gutters: $gutters,
        column-width: false,
        global-box-sizing: $box-sizing,
        last-flow: to,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);

body {
  background: $c-white;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-accent {
  color: $dark-grey;
}

.text-primary {
  color: $c-black;
}

a {
  color: $c-black;
  text-decoration: none;
}

//scrollbar reset
body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(112, 112, 112, 0.3);;

}


