body, html {
  width: 100%;
  margin: 0;
  padding: 0;

  @media #{$bp-tab} {
    overflow-x: hidden;
  }
}

.site {
  position: relative;
}

.site-header, .site-footer, .site-content {
  @extend .default-grid;
}

.module {
  padding: $block-padding 0;
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address, figcaption, ol, figure, output, aside,
p, audio, form, pre, h1, h2, h3, h4, h5, h6, canvas, table,
dd, hgroup, tfoot, hr, ul, dl, video, fieldset, noscript {
  margin: 0 0 $bottom-margin 0;
}

article {
  margin: 0 0 0 0;
}

// Generally used as containers
section, header, footer, blockquote {
  margin: 0;
}

// Lists
ul, ol {
  padding: 0;

  li {
    padding: 0;
  }
}

dl {
  padding: 0;

  dd {
    padding: 0;
  }
}

