/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

/*
Default grid should be the outer container for any susy grid
It is included as a class so it may be extended using @extend.
Change the padding here to change default outer grid padding.
Extend .default-grid on either the site container, or around
Individual components as necessary.
*/

@mixin default-grid($padding: $grid-padding) {
  @include container();
}

/*
The fixed-grid is fixed to 1200px
*/
@mixin fixed-grid($padding: 0) {
  @include container(1200px);
  padding-left: $padding;
  padding-right: $padding;
}

.default-grid {
  @include default-grid();
}

.fixed-grid {
  @include fixed-grid();
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
  transition: transform .3s linear;

  &:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
  }
}

@mixin listReset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Wordpress Specific
$wp-center: 5px auto 5px auto;
$wp-left: 5px 20px 20px 0;
$wp-right: 5px 0 20px 20px;

.aligncenter {
  display: block;
  margin: $wp-center;
}

.alignleft {
  float: left;
  margin: $wp-left;
}

.alignnone {
  margin: $wp-left;
}

.alignright {
  float: right;
  margin: $wp-right;
}

a {
  img {
    &.aligncenter {
      @extend .aligncenter;
    }

    &.alignleft {
      @extend .alignleft;
    }

    &.alignnone {
      @extend .alignnone;
    }

    &.alignright {
      @extend .alignright;
    }
  }
}

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}-webfont.eot');
    src: url('#{$file-path}-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}-webfont.woff') format('woff'),
    url('#{$file-path}-webfont.ttf') format('truetype'),
    url('#{$file-path}-webfont.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}-webfont.svg##{$font-family}') format('svg');
    }
  }
}

@mixin button() {
  text-transform: uppercase;
  color: $c-white;
  text-decoration: none;
  font-family: $font-family-base-bold;
  transition: all 250ms ease;
  border-radius: 30px;
  padding: 1rem 30px;
  display: inline-block;
  &:hover {
    background: $c-white;
  }

}