html {
  font-family: $font-family-base;
  font-size: 100%;
  font-smoothing: antialiased;
}

// Copy & Lists 
p {
  line-height: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

// Headings 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base-bold;
  line-height: 1.5rem;
  font-weight: normal;
  em {
    font-family: $RalewayItalic;
  }
}

h1 {
  font-size: 4.12rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333333333rem;
}

h6 {
  font-size: 0.3535rem;
}

// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
