// Colors

$c-white: #fff;
$c-black: #000;
$light-grey: #e6e6e6;
$medium-grey: #cacaca;
$dark-grey: #999999;
$gold: #b5964e;
$off-white: #f2efe6;
$light-gold: #cca958;


// Layout
$block-padding: 2rem;
$bottom-margin: 2rem;
$grid-padding: 20px;
$header-height: 115px;

// Typography

$RalewayRegular: 'Raleway-Regular', sans-serif;
$RalewayBold: 'Raleway-Bold', sans-serif;
$RalewayItalic: 'Raleway-Italic', serif;

$font-family-base: $RalewayRegular;
$font-family-base-bold: $RalewayBold;
$font-family-accent: $RalewayRegular;
$font-family-base-italic:$RalewayItalic;

$font-size-base: 15px;
$font-size-small: 14px;
$font-size-large: 16px;

// Media Queries
$bp-mobile: "only screen and (max-width: 768px)";
$bp-tab-sm: "only screen and (max-width: 768px)";
$bp-tab: "only screen and (max-width: 768px)";
$bp-desk: "only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: auto;
$columns: 12;
$gutters: .25;
$box-sizing: border-box;