// for each color, set the color name to equivalent of 'colormaker_1' for corresponding color i.e.:
//$color_1 : colormaker_one;
//$color_2 : colormaker_two;
@import "variables";

$color_1: colormaker_one;
$color_2: colormaker_two;
$color_3: colormaker_three;
$color_4: colormaker_four;
$color_5: colormaker_five;

/* Color Block block-name
- should be .color-class-name for production
 or .default-color-class for development
*/

//global header / footer colormaker styles

body.color-class-name {

  .site-description {
    color: $color_1;
  }

  .site-footer {
    background: $color_1;
  }

  a {
    color: $color_1;
    text-decoration: none;
  }

}

//import module colormaker files
@import "../../includes/modules/colormaker";