@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?quw1n5');
  src: url('../fonts/icomoon.eot?quw1n5#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?quw1n5') format('truetype'),
  url('../fonts/icomoon.woff?quw1n5') format('woff'),
  url('../fonts/icomoon.svg?quw1n5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stopwatch:before {
  content: "\e600";
}

.icon-dumbell:before {
  content: "\e601";
}

.icon-bike:before {
  content: "\e602";
}

.icon-trophy:before {
  content: "\e603";
}

.icon-measuring-tap:before {
  content: "\e604";
}

.icon-bullseye:before {
  content: "\e605";
}

.icon-podium:before {
  content: "\e606";
}

.icon-football:before {
  content: "\e607";
}

.icon-compass:before {
  content: "\e608";
}

.icon-circle-symbol:before {
  content: "\e609";
}

.icon-clipboard:before {
  content: "\e60a";
}

.icon-watch:before {
  content: "\e60b";
}

.icon-heart:before {
  content: "\e60c";
}

.icon-scale:before {
  content: "\e60d";
}

.icon-hand-grid:before {
  content: "\e60e";
}

.icon-tshirt:before {
  content: "\e60f";
}

.icon-weight-loss:before {
  content: "\e610";
}

.icon-toggle:before {
  content: "\e611";
}

.icon-jump-rope:before {
  content: "\e612";
}

.icon-basketball:before {
  content: "\e613";
}

.icon-run:before {
  content: "\e614";
}

.icon-prescription:before {
  content: "\e615";
}

.icon-medicine-bottle-1:before {
  content: "\e616";
}

.icon-medicine-bottle-2:before {
  content: "\e617";
}

.icon-fitness-badge:before {
  content: "\e618";
}

.icon-jog:before {
  content: "\e619";
}

.icon-rx:before {
  content: "\e61a";
}

.icon-stethiscope:before {
  content: "\e61b";
}

.icon-pool:before {
  content: "\e61c";
}

.icon-tabs:before {
  content: "\e61d";
}

.icon-lungs:before {
  content: "\e61e";
}

.icon-weights:before {
  content: "\e61f";
}

.icon-biceps:before {
  content: "\e620";
}

.icon-bench-1:before {
  content: "\e621";
}

.icon-bench-2:before {
  content: "\e622";
}

.icon-curl:before {
  content: "\e623";
}

.icon-lunge:before {
  content: "\e624";
}

.icon-dumbell-2:before {
  content: "\e625";
}

.icon-star:before {
  content: "\e626";
}

.icon-medicine-bottle-3:before {
  content: "\e627";
}

.icon-no-smoking:before {
  content: "\e628";
}

.icon-cherry:before {
  content: "\e629";
}

.icon-beakers:before {
  content: "\e62a";
}

.icon-therm:before {
  content: "\e62b";
}

.icon-basketball-court:before {
  content: "\e62c";
}

.icon-golf:before {
  content: "\e62d";
}

.icon-pill:before {
  content: "\e62e";
}

.icon-treadmill:before {
  content: "\e62f";
}

.icon-exercise-bike:before {
  content: "\e630";
}

.icon-fish:before {
  content: "\e631";
}

.icon-ekg:before {
  content: "\e632";
}

.icon-dumbell-3:before {
  content: "\e633";
}

.icon-sprint:before {
  content: "\e634";
}

.icon-beer:before {
  content: "\e635";
}

.icon-lightning:before {
  content: "\e636";
}

.icon-apple:before {
  content: "\e637";
}

.icon-pills:before {
  content: "\e638";
}

.icon-gymnastics:before {
  content: "\e639";
}

.icon-cricket:before {
  content: "\e63a";
}

.icon-sign:before {
  content: "\e63b";
}

.icon-coffee:before {
  content: "\e63c";
}

.icon-kettle:before {
  content: "\e63d";
}

.icon-doctor-bag:before {
  content: "\e63e";
}

.icon-fist:before {
  content: "\e63f";
}

.icon-sunny:before {
  content: "\e640";
}

.icon-vitamins:before {
  content: "\e641";
}

.icon-muscles:before {
  content: "\e642";
}

.icon-yoga:before {
  content: "\e643";
}

.icon-water-bottle:before {
  content: "\e644";
}

.icon-weight-machine:before {
  content: "\e645";
}

.icon-medal:before {
  content: "\e646";
}

.icon-bench-press:before {
  content: "\e647";
}

.icon-no-alcohol:before {
  content: "\e648";
}

.icon-kidneys:before {
  content: "\e649";
}

.icon-tea:before {
  content: "\e64a";
}

.icon-medicine-bottle-4:before {
  content: "\e64b";
}

.icon-chart:before {
  content: "\e64c";
}

.icon-flask:before {
  content: "\e64d";
}

.icon-puzzle:before {
  content: "\e64e";
}

.icon-pills-2:before {
  content: "\e64f";
}

.icon-medicine-bag:before {
  content: "\e650";
}

.icon-heart-chart:before {
  content: "\e651";
}

.icon-medicine-bottle-5:before {
  content: "\e652";
}

.icon-no-smoking-2:before {
  content: "\e653";
}

.icon-band-aid:before {
  content: "\e654";
}

.icon-music:before {
  content: "\e655";
}

.icon-carafe:before {
  content: "\e656";
}

.icon-expand:before {
  content: "\e657";
}

.icon-barbell:before {
  content: "\e658";
}

.icon-sign-2:before {
  content: "\e659";
}

.icon-apple-document:before {
  content: "\e65a";
}

.icon-pencil:before {
  content: "\e65b";
}

.icon-boxing:before {
  content: "\e65c";
}

.icon-yin-yang:before {
  content: "\e65d";
}

.icon-lego:before {
  content: "\e65e";
}

.icon-puzzle-2:before {
  content: "\e65f";
}

.icon-apple-watch:before {
  content: "\e660";
}

.icon-calendar:before {
  content: "\e661";
}

.icon-carrot:before {
  content: "\e662";
}

.icon-treadmill-2:before {
  content: "\e663";
}