.site-footer {
  background: $c-black;
  min-height: 473px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $c-white;
  font-family: $font-family-base;
  text-align: center;

  .site-branding {
    padding-left: 0;
    padding-top: 0;

    .site-title {
      margin-top: 0;
      margin-bottom: 0.5rem;
      & > a {
        letter-spacing: 6px;
      }
    }
    .site-description {
      color: $c-white;
    }
    margin-bottom: 3rem;

  }

  .footer-inner {
    max-width: 100%;
  }

  @media #{$bp-tab} {
    .footer-inner {
      padding-left: $grid-padding;
      padding-right: $grid-padding;
    }
  }

}

/*   FOOTER WP MENU LOCATION   */
#footer-menu {
  margin-top: 1.5rem;
  max-width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    width: 100%;
  }
  .menu-item {

    a {
      color: $c-white;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }
}

/*   SOCIAL ICONS MENU   */
.contact-info-block {
  margin: 2rem 0;
  min-height: 39px;
}

ul.contact-info-social-list {
  display: flex;
  width: 260px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;

  @media #{$bp-mobile} {
  }
}

.contact-info-social-list-item {
  flex: 1;

  .icon {
    border-radius: 1000px;
    width: 2rem;

    fill: $c-white;
    //&:hover {
    //  fill: $gold * 1.1;
    //}
  }
}

.site-info {
  text-align: center;
}
