@mixin site-branding-text() {
  font-family: $font-family-base;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: $header-height;

  &.inner-header {
    background: #333;
    position: relative;
    &.admin-bar-showing {
      top: 0;
    }
  }

  &.admin-bar-showing {
    top: 32px;
  }
  .header-logo {
    img {
      height: 83px;
    }
  }

  .site-header-wrap {
    @include fixed-grid(20px);
    display: flex;
    align-items: center;
    height: 115px;
  }

  @media #{$bp-tab} {
    .site-branding {
      display: none;

    }
  }
}

.site-branding {
  display: inline-block;
  text-align: center;
  width: auto;
  padding-left: 2.5rem;
  padding-top: 2.5rem;

  .site-title {
    margin: 0rem 0 1rem;

    & > a {
      @include site-branding-text();
      color: $c-white;
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .site-description {
    @include site-branding-text();

    font-family: $font-family-base-bold;
    color: $gold;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
  }
}