@mixin menu-toggle() {
  position: absolute;
  top: 60px;
  right: 320px;
  background: none;
  border: none;
  color: $c-white;
  font-family: $font-family-base-bold;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.15s ease-out;
}

.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 1002;
  line-height: $header-height;

  transform: translateX(100%);

  &.is-active {
    transition: transform 0.15s ease-in;
    transform: translateX(0);
  }

}

/**
 * Mask component
 */

#menu-background {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), transparent);
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

  &.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
}

.main-navigation {

  .menu-primary-container {
    display: block;
    position: absolute;
    top: 45px;
    right: 2rem;
  }

  .menu-item {
    list-style: none;
    position: relative;

    a {
      font-size: 3rem;
      line-height: 4.25rem;
      color: $c-white;
      font-family: $font-family-base;
      text-decoration: none;
    }
  }

}

/**
 *  Menu Toggle
 */
.site-header {
  .menu-toggle {
    @include menu-toggle();
    right: 20px;
    opacity: 1;
    transition: transform 0.3s ease-out,
    opacity 0 0.4s;

    &.is-active {
      opacity: 0;
      transform: translateX(-300px)
    }
  }
}

.main-navigation {
  .menu-toggle {
    @include menu-toggle();
    opacity: 0;
    transition: opacity 0 0.4s;

    &.is-active {
      opacity: 1;
    }
  }
}

.site-footer {

  ul {
    @include listReset();
    display: flex;
  }

}