.search-form {
  margin-bottom: 0;
  float: right;

  .search-field {
    width: 0px;
    overflow: hidden;
    outline: none;
    border:none;
    background: none;
    transition: all 250ms ease;
    border-radius: 3px;
  }
  &:hover {
    .search-field {
      width: 200px;
      overflow: auto;
      background: $c-white;
      border:1px solid $gold;
    }

  }
}

.search-submit {
  background: $gold;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  .icon {
    height: 15px;
    width: 15px;
    margin-top: 5px;
    fill: #333;
  }
}