.block-three_image_grid {

  @media #{$bp-mobile} {
    margin-left: -$grid-padding;
    margin-right: -$grid-padding;
    padding-bottom: 0;
  }

  .layout-content {
    width: 100%;
  }

  .three-image-grid-wrap {
    @include fixed-grid();

    @media #{$bp-mobile} {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .title {
    text-align: center;
  }
  .large-img-container, .small-img-container {
    height: 580px;
  }
  .large-img-container {
    @media #{$bp-mobile} {
      height: 300px;
    }
  }
  .small-img-container {
    @media #{$bp-mobile} {
      height: 600px;
    }
  }

  .small-img, .large-img {
    position: relative;
    .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .small-img {
    position: relative;
    height: 280px;
    &:last-child {
      margin-top: 20px;
    }

    .img-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 30%;
    }
    @media #{$bp-mobile} {
      height: 300px;
      &:last-child {
        margin-top: 0;
      }
    }
  }
  .large-img {
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    .img-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 70%;
    }
    @media #{$bp-mobile} {
      height: 300px;
      .img-content {
        top: 30%;
      }
    }
  }

  .img-content {
    h4 {
      color: $c-white;
      font-size: 1.5rem;
    }
    a {
      @include button();
    }
    padding: 40px;
  }

}