.block-instagram_slider.color-class-name {
  .instagram-link {
    border:2px solid $c-white;
    background: transparent;
    color: $c-white;

    &:hover {
      background: $c-white;
      color: $color_1;
    }
  }
  background: $color_1;
}