/*
Mutiple slider types are likely to share common
elements.  Common elements should be defined in
the slider module and imported here.
*/

$slider_height: 200px;
.block-instagram_slider {
  .instagram-block-container {

    .instagram-slider-inner {
      position: relative;
    }

    .slick-arrow {
      z-index: 99;
    }
    .slick-prev, .slick-next {
      background: $c-white;
      height: $slider_height;
      outline: none;
      border: none;
      svg {
        width: 20px;
        height: 20px;
        stroke: $c-black;
        stroke-width: 3px;
        fill: transparent;
      }
    }

    .slick-prev {
      top: 2rem;
      left: 0;
    }

    .slick-next {
      top: 2rem;
      margin-top: 0;
      right: 0;
      svg {
        transform: rotate(180deg);
      }
    }

    padding-top: 4rem;
    padding-bottom: 4rem;

    text-align: center;
    .instagram-title {
      color: $c-white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 20px;
        width: 20px;
        stroke: transparent;
        stroke-width: 20px;
        fill: #fff;
        line-height: 1rem;
        margin-top: 0px;
        margin-right: 10px;
      }
    }

    .instagram-link {
      @include button();
    }
  }

  .instagram_block_wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    .slick-slide {
      height: $slider_height;
      width: $slider_height;
      margin-top: 2rem;
      margin-bottom: 2rem;
      a {
        .bg-image {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
    }

  }

  @media #{$bp-tab} {
    padding-top: 0;
    padding-bottom: 0;
  }

}
