.block-quote_slider {
  .layout-content {
    @include fixed-grid();
  }

  .quote-slider-block {
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  .quote-slider-slide {
    strong {
      text-transform: uppercase;
      font-size: .875rem;
      font-family: $font-family-base-bold;
    }
    p {
      font-size: 1.5rem;
      font-family: $font-family-base;
      line-height: 1.75rem;
    }
  }

  .slick-dots {
    @include listReset();

    li {
      display: inline-block;
      background: #e0e0e0;
      border-radius: 10px;
      height: 8px;
      width: 8px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 250ms ease;
      button {
        visibility: hidden;
      }

      &.slick-active {
        background: $c-black;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
