.block-media {
  position: relative;
  font-size: 0; // to keep inline-block display of half-width elements correct
  padding-bottom: 0;
  padding-top: 0;
  &.small-height {
    .layout-content {
      height: 400px;
    }
    .bg-image {
      height: 400px;
    }
  }
  .layout-content {
    height: 700px;
    width: 100%;
    @media #{$bp-mobile} {
      height: auto;
      padding-bottom: 100%;
    }
  }
  .img-block-wrap {
    height: 100%;
  }
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: top center;
    overflow: hidden;

    .video {
      // should cover entire element
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
    }
    .img-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    @media only screen and (max-width: 700px) {
      height: auto;
      padding-bottom: 100%;
    }
  }
  .title {
    @include vertical-align(absolute);
    left: 0px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 999;
    img {
      max-width: 100%;
      height: auto;
    }
    .title-wrap {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;

      h3 {
        font-size: 3rem;
      }

      .subtitle {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-family: $font-family-base-bold;
        display: block;
      }

      a {
        padding: 15px 50px;
        display: inline-block;
        position: relative;
        font-size: 1rem;
        font-family: $font-family-base;
        background: black;
      }

      @media #{$bp-tab} {
        max-width: 100%;

        h3 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
      }

    }
  }
  .img-block-wrap.half-width {
    display: inline-block;
    width: 50%;
    position: relative;
    &:first-of-type {
      border-right: 1px solid #f5f5f5;
    }
    .bg-image {
      @media only screen and (max-width: 1400px) {
        height: auto;
        padding-bottom: 100%;
      }
    }
  }
}

.video-media {
  a.video-btn {
    display: block;
    padding: 5px 60px;
    display: inline-block;
    position: relative;
    @extend .gothicOne;
    line-height: 45px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 0;
      -webkit-transition: max-height .5s ease;
      transition: max-height .5s ease;
      opacity: .5;
      z-index: -1;
    }
    svg {
      width: 44px;
      height: 44px;
      display: inline-block;
      float: left;
      margin: 0 15px 0 0;
    }
  }
}

.video-media {
  .title-wrap {
    h3 {
      @extend .big-title;
      font-size: 60px;
      line-height: 60px;
      font-weight: 400;
      color: #212121;
    }

  }
}

/* General link styles */
.block-media.video-media {
  .title {
    .effect {
    }
  }

}

.text_effect {
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
  display: table;
  text-align: center;

  .effect {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 60px;
    color: #FFF;
    text-decoration: none;
    line-height: 60px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;

    &:hover {
      color: #FFF;
    }

  }

}

#html5-lightbox-box #html5-watermark {
  display: none !important;
}